*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 100px;
    background: #000;
}

h2{
    margin-bottom: 10px;
    color: #fff;
    font-size: 3.5em;
}

p{
    color: #fff;
    font-size: 1.em;
}

::-webkit-scrollbar{
    width: 0;
}

#progressBar{
    /* position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    border-radius: 10px;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4); */

    /* ---------------Horizontal--------------------- */

    display: none;
    top: 0;
    height: 5px;
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
}

#code-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #143240;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}