*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bedfeb;
}

.accordion{
    max-width: 800px;

}

.accordion .contentBox{
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBox .label{
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}

.accordion .contentBox .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBox.active .label::before{
    content: '-';
}

.accordion .contentBox .content{
    position: relative;
    /* padding: 10px; */
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBox.active .content{
    height: 150px;
    padding: 10px;
}